# TODO: Get your E2B API key from https://e2b.dev/docs/getting-started/api-key
E2B_API_KEY=""
ANTHROPIC_API_KEY=""
FIRECRAWL_API_KEY=""
SEARCH_API=tavily
TAVILY_API_KEY="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"
LANGCHAIN_API_KEY=""
GOOGLE_CLOUD_PROJECT=""
OPENAI_API_KEY=""
SAMBNOVA_API_KEY=""
# TODO: Get your Groq API key from https://console.groq.com/keys
GROQ_API_KEY=""

JINA_API_KEY=""

# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY="7215c7fa8f0f4a4eb56ad02f066cc7a6"
AZURE_OPENAI_ENDPOINT="https://fxiaoke-azureopenai-02.openai.azure.com"
AZURE_OPENAI_API_VERSION="2025-04-01-preview"
AZURE_OPENAI_DEPLOYMENT_NAME="azure02-gpt-5"

MAX_WEB_RESEARCH_LOOPS=3
FETCH_FULL_PAGE=True

LLM_PROVIDER=AzureOpenAI
LLM_MODEL=gpt-5

## LLM Providers ##

# LLM_PROVIDER=anthropic
# LLM_MODEL=claude-3-7-sonnet
# LLM_MODEL=claude-3-7-sonnet-thinking

# LLM_PROVIDER=openai
# LLM_MODEL=gpt-4.1
# LLM_MODEL=o3-mini
# LLM_MODEL=o3-mini-reasoning

# LLM_PROVIDER=groq
# LLM_MODEL=deepseek-r1-distill-llama-70b

# LLM_PROVIDER=sambnova
# LLM_MODEL=DeepSeek-V3-0324

## Activity generation configuration ##
ENABLE_ACTIVITY_GENERATION=true
ACTIVITY_VERBOSITY=medium
ACTIVITY_LLM_PROVIDER=AzureOpenAI
ACTIVITY_LLM_MODEL=gpt-5

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=""
LANGCHAIN_PROJECT=""

SCRAPYBARA_API_KEY=""